.alertDiv{
    width: 100%;
  
    display: flex;
    justify-content: space-between;
    min-height: 40px;
    border-radius: 3px;

    padding: 10px;
}
.Success{
    background-color: #DFFFE3;
    border:1px solid lightgreen;
}
.Neutral{
    background-color: #FFF0E3;
    border:1px solid #FFC793;
}
.Warning{
    background-color:#FFF2F2 ;
    border:1px solid #F09B91;
}

.alertType{
    font: normal normal bold 1rem Chicken SansBold;
    padding-left: 5px;
    padding-right: 5px;
}
.alertMessage{
    font: normal normal normal 1rem Chicken Sans !important;
    display: flex;
    align-items: center;
    padding-left: 2px;
}