@font-face{
  font-family: 'Chicken Sans';
  src: url("../src/assets/ChickenSans-Regular.ttf");
  
}
@font-face{
  font-family: 'Chicken SansBold';
  src: url("../src/assets/ChickenSans-Bold.ttf");
  
}
@font-face{
  font-family: 'Flame Sans';
  src: url("../src/assets/FlameSans-Regular.otf");
  
}
@font-face{
  font-family: 'Flame SansBold';
  src: url("../src/assets/Flame-Bold-Variable.ttf");
  
}